{% extends 'base.html.twig' %}

{% block title %}Nightwish on Youtube - index{% endblock %}

{% block body %}

<h1>Best Nightwish videos</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for youtube in youtubes %}
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <a href="{{ path('youtube_show', {'id': youtube.id }) }}"><img src="{{ youtube.url|youtube_thumbnail }}" class="card-img-top"></a>
            <div class="card-body">
                <h5 class="card-title">{{ youtube.name }}</h5>
                <div class="row">
                    <div class="col-sm-1">
                        <a class="btn btn-sm btn-primary" href="{{ path('youtube_edit', {'id': youtube.id}) }}">Edit</a>
                    </div>
                    <div class="col-sm-1">
                        {{ include('youtube/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{#
<div class="mb-5 mt-5" id="addvideo">
    <h2>Ajouter une vidéo</h2>
    {{ form(form) }}
</div>
#}

{% endblock %}